body{
    background-image: url("https://images.unsplash.com/photo-1644059069383-9ed0a97eca85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fG5vdGVzfGVufDB8MHwwfGJsYWNrfA%3D%3D&auto=format&fit=crop&w=600&q=60");
    background-repeat: no-repeat;
    background-size: cover;
}

.form-group label{
    color: white;
    font-family: cursive;
}

h1{
    color: crimson;
}

i{
    margin-right: 2%; 
    cursor: pointer;
    color: azure;
}